@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

$primaryColor: #ffa801;
$borderColor: #cecece;
$placeholderColor: rgb(155, 155, 155);
$inputHoverBackground: rgb(231, 231, 231);
$linkColor: #583a02;
$darkWood: #201d1a;
$metalHighlights: #ddccb3;

* {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

body {
    background: $primaryColor;
    font-family: "Noto Sans TC", sans-serif;
}

.tileContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex: 0 0 33.3333333%;
    width: 33.33333%;
    position: relative;

    button {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: none;
        border: 1px solid;
    }
}

.tileContainer {

    input {
        align-content: center;
        width: 100%;
        padding: 40px 10px;
        text-align: center;
        background: $darkWood;
        font-size: 20px;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 500;
        border: 0;
        letter-spacing: 1px;
        color: $metalHighlights;
        margin: 0;
        border-radius: 0;

        &::placeholder {
            font-weight: 300;
            color: $placeholderColor;
        }

        &:hover {
            background: $metalHighlights;
            color: $darkWood;

            &::placeholder {
                color: rgb(90, 90, 90);
            }
        }

        &:active {
            border: 0;
        }
    }
    
}

.guitar {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    margin-top: -40px;

    .guitarNeck {
        width: 100%;
    }

    .capo {
        position: relative;
        width: 40%;
    }

    .capoContainer {
        width: 5%;
        position: absolute;
        left: 32.5%;
        top: 15%;
        text-align: center;
    }

    .capoPosition {
        font-size: 2vw;
        font-family: "Hind", sans-serif;
        font-weight: bold;
        color: #000;
        position: absolute;
        bottom: 5%;
        left: 30.5%;
        margin: 0;
    }

    .capoSvg {
        position: absolute;
        bottom: 3vh;
        left: 31%;
        z-index: -1;
    }
}

header {
    text-align: center;
    font-family: "Mulish", sans-serif;
    
    h1 {
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 48px;
    }

    h5 {
        margin: 0 0 20px 0;
        font-size: 16px;
    }
}

nav {
    a {
        display: inline-block;
        padding: 6px 20px;
        color: $linkColor;

        &:hover {
            color: $darkWood;
        }
    }
}

.tooltip {
    background: $linkColor !important;
    max-width: 200px !important;
    pointer-events: auto !important;
}

button {
    padding: 20px 40px;
    border: 0;
    font-size: 16px;
    display: inline-block;
    background: $darkWood;
    color: $metalHighlights;
    margin: 0 10px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px #a56e0b;
    border-radius: 10px;
    border: 2px solid $metalHighlights;
    
    &:hover {
        background: $metalHighlights;
        color: $darkWood;
        box-shadow: none;
    }
}

.buttons {
    width: 80%;
    text-align: center;
    margin: 0 auto 20px auto;
}

.transpositionButton {
    display: inline-block;
}

main {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

footer {
    margin-top: 100px;
}

@media screen and (max-width: 600px) {
    main {
        width: 80%;
    }

    .tileContainer {
        input {
            padding: 60px 40px;
        }

        button {
            left: 50%;
            margin: 0;
            transform: translateX(-50%);
        }
    }
    
    .tileContainer {
        width: 100%;
    }

    .guitar {
        width: 80%;

        .capoPosition {
            font-size: 3vw;
        }
    }

    .buttons {
        width: 100%;
    }
}